extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/index.css')

block content 
  div.content
    div.banner
      //- - for (i in data)
        //- - if (data[i].movie_id === 5)
      a.banner_link(href=`/movie?id=${data[5].movie_id}&locale=${locale}`)
        div.banner_media.d-flex.flex-column
          img.banner_img(src=`${data[5].banner}`)
          div.banner_text_background
          div.banner_text.d-flex.flex-row.align-items-center
            h1.banner_title #{data[5].title}
            p.banner_button
              a(href=`/movie?id=${data[5].movie_id}&locale=${locale}` id="headerVideoLink" target="_blank" class="btn btn-outline-danger popup-modal") #{lang.movie.info}
                  //- a(href="#headerPopup" id="headerVideoLink" target="_blank" class="btn btn-outline-danger popup-modal") #{lang.movie.trailer}
          //- div(id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9")
          //-   iframe.embed-responsive-item(width='854' height='480' src=`${data[5].trailer_embed}` frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
      
    div.blocks
      div.container
        div.second_title
          h1.second_title_line_1 #{lang.index.trending}
          h1.second_title_line_2 #{lang.index.now}
        div.list_box
          //- ul.movie_list.vmcarousel-normal
          ul.movie_list(class="owl-features owl-carousel owl-loaded owl-drag")
            - for (let i = 0; i < 10; i++)
              li.list_div
                a.list_link(href=`/movie?id=${data[i].movie_id}&locale=${locale}`)
                  img.list_img(src=`${data[i].poster}`)
                  p.list_title #{data[i].title}

        div.second_title
          h1.second_title_line_1 #{lang.index.new}
          h1.second_title_line_2 #{lang.index.releases}
        div.list_box
          ul.movie_list(class="owl-features owl-carousel owl-loaded owl-drag")
            - for (let i = 40; i < 50; i++)
              li.list_div
                a.list_link(href=`/movie?id=${data[i].movie_id}&locale=${locale}`)
                  img.list_img(src=`${data[i].poster}`)
                  p.list_title #{data[i].title}

            
  script(src='/public/assets/js/owl.carousel.js')
  script(src='/public/assets/js/owl.autoplay.js')
  script(src='/public/assets/js/owl.navigation.js')
  script(type="text/javascript").
    
    $(".owl-carousel").owlCarousel({
      items: 3,
      loop: true, // 循環播放
      margin: 10, // 外距 10px
      nav: true, // 顯示箭頭
      autoplay: true,

      responsive: {
        0: {
          items: 1 // 螢幕大小為 0~600 顯示 1 個項目
        },
        600: {
          items: 2 // 螢幕大小為 600~1000 顯示 3 個項目
        },
        1000: {
          items: 3 // 螢幕大小為 1000 以上 顯示 5 個項目
        }
      } 
      
    });
      
