extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/movie.css', type='text/css')
  link(rel='stylesheet', type="text/css", href='/public/assets/css/jquery.vm-carousel.css' )
  link(rel='stylesheet', href='/public/assets/css/save_button.css', type='text/css')

  //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

block content 
  body

  div#movie_id(data-id=`${data.movie_id}`) 
  div.main.width
    ul.top_buttons
      li.movie_to_review
        //- a(href=`/review/submit?id=${data.movie_id}&locale=${locale}`)
        button.to_submit_page(type='button') #{lang.review.submit_reivew}

      //- li.movie_to_rating
      //-   button.rating(type='button') Rate it

      li.movie_to_see_review
        a(href=`/review/movie?id=${data.movie_id}&locale=${locale}`)
          button.see_review(type='button') #{lang.review.see_all_review}

    div.detail 

      div.title_area
        div.title_save
          h1#title #{data.title}
          li.save_movie 
            - if (data.user_saved_movie == true)
              button.save_movie_button(type='submit') 
                i(class="fas fa-bookmark")
            - else 
              button.save_movie_button(type='submit') 
                i(class="far fa-bookmark")

        br
        h5#original_title #{data.original_title}

      div.subtitle
        div
          p#release_date #{data.year} 
        div
          p#runtime #{data.runtime}  
        div
          p#genre #{data.genre}       

      div#media
        img#poster(src=`${data.poster}`)
        iframe#trailer(src=`https://www.youtube.com/embed/${data.trailer}?rel=0`, width='750' height='450', frameborder = '0', allowfullscreen = '')
      
      div.overview
        h6#overview #{data.overview} 

      div#cast 
        h4.cast #{lang.movie.cast}
        ul.cast_list(class="owl-features owl-carousel owl-loaded owl-drag")
          - for (i in data.cast)
            li.list_div
              a.cast_alink(href=`/person?id=${data.cast[i].person_id}&locale=${locale}`)
                - if (data.cast[i].image == 'https://d2idt211kyg8ql.cloudfront.net/images/people/null')
                  div.img_alt 
                    p.img_alt_text #{lang.movie.no_image} 
                - else                
                  img.cast_img(src=`${data.cast[i].image}`, alt="")
                div.cast_text
                  p.cast_name #{data.cast[i].name}
                  p.cast_character #{data.cast[i].character}
              
      div#crew 
        h4.crew #{lang.movie.crew}
        ul.crew_list(class="owl-features owl-carousel owl-loaded owl-drag")
          - for (i in data.crew)
            li.list_div
              a.crew_alink(href=`/person?id=${data.crew[i].person_id}&locale=${locale}`)
                - if (data.crew[i].image == 'https://d2idt211kyg8ql.cloudfront.net/images/people/null')
                  div.img_alt 
                    p.img_alt_text #{lang.movie.no_image}
                - else
                  img.crew_img(src=`${data.crew[i].image}`, alt="")
                div.crew_text
                  p.crew_name #{data.crew[i].name}
                  p.crew_job #{data.crew[i].job}
              

  //- script(src='/public/assets/js/jquery.vm-carousel.js')
  script(src='/public/assets/js/owl.carousel.js')
  //- script(src='/public/assets/js/owl.autoplay.js')
  script(src='/public/assets/js/owl.navigation.js')
  script(type='text/javascript').
  
    //- $('.vmcarousel-normal').vmcarousel({

    //-   // delay in ms
    //-   delay: 4000,

    //-   // transition speed
    //-   speed: 500,

    //-   // enabe autoplay
    //-   autoplay: false,

    //-   // 0 for auto calc
    //-   items_to_show: 6, 

    //-   // min number of items
    //-   min_items_to_show: 1,

    //-   // items to slide at a time
    //-   items_to_slide: 0,
    //-   dont_cut: true,

    //-   // center the current image
    //-   centered: false,

    //-   // start item
    //-   start_item: 0,
    //-   start_item_centered: false,

    //-   // infinite loop
    //-   infinite: false,

    //-   // callback
    //-   changed_slide: $.noop()

    //- });
    const movieId = $('#movie_id').data('id');

    $('.to_submit_page').on('click', async (e) => {
      e.preventDefault(); 
      
      try{
        await axios({
          method: 'GET',
          url: '/api/1.0/user/review/submit',
          headers: {
            'Content-Type': 'application/json',
          },
        });
        
        window.location.href = `/review/submit?id=${movieId}&locale=${locale}`

      } catch (err) {
        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: 'Please sign in first',
            confirmButtonColor: '#ec7aa0',          
          });         
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: '請先登入',
            confirmButtonColor: '#ec7aa0',          
          });          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: 'Veuillez vous connecter',
            confirmButtonColor: '#ec7aa0',          
          });          
        }
        setTimeout(() => {
          window.location.href = `/login?locale=${locale}`
        }, '1000');
        console.log('err: ', err);
      }
    });
    

    //- const locale = !{ locale };

    $('.save_movie_button').on('click', async (e) => {
      e.preventDefault();
      console.log(movieId)
      try {
        const data = JSON.stringify({
          movieId,
        });

        const result = await axios({
          method: 'POST',
          url: '/api/1.0/user/store/movie',
          data,
          headers: {
            'Content-Type': 'application/json',
          },
        });
        let resultUser = result.data.data 
        console.log(resultUser)
        console.log('aaaaa')


        if (resultUser == 'deleted') {
          $('.fas').removeClass('fas').addClass('far')
          if (locale == 'en-US'){
            swal.fire({
              icon: 'success', 
              text: 'Movie Removed',
              showConfirmButton: false,
            timer: 800,
            });       
          } else if (locale == 'zh-TW') {
            swal.fire({
              icon: 'success', 
              text: '已移除',
              showConfirmButton: false,
              timer: 800,
            });        
          } else if (locale == 'fr-FR') {
            swal.fire({
              icon: 'success', 
              text: 'Supprimé',
              showConfirmButton: false,
              timer: 800,
            });       
          }          
        } else if (resultUser == 'saved'){
          $('.far').removeClass('far').addClass('fas')
          if (locale == 'en-US'){
            swal.fire({
              icon: 'success', 
              text: 'Movie Saved',
              showConfirmButton: false,
              timer: 800,
            });
          } else if (locale == 'zh-TW') {
            swal.fire({
              icon: 'success', 
              text: '已儲存',
              showConfirmButton: false,
              timer: 800,
            });     
          } else if (locale == 'fr-FR') {
            swal.fire({
              icon: 'success', 
              text: 'Enregistrée',
              showConfirmButton: false,
              timer: 800,
            });     
          }    
        }

      } catch(err) {
        console.log('bbbbb')
        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: 'Please sign in first',
            confirmButtonColor: '#ec7aa0',          
          });         
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: '請先登入',
            confirmButtonColor: '#ec7aa0',          
          });          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: 'Veuillez vous connecter',
            confirmButtonColor: '#ec7aa0',          
          });          
        }
        setTimeout(() => {
          window.location.href = `/login?locale=${locale}`
        }, '1000');
        console.log('err: ', err);
      }
    });

    //- $(document).ready(function(){
    //-   $('.save_movie_button').click(function(){
    //-         if ($('.far.fa-bookmark').css('color', 'white')) {
    //-       $('.far.fa-bookmark').css('color', 'green')
    //-   } else if ($('.far.fa-bookmark').css('color', 'green')) {
    //-       $('.far.fa-bookmark').css('color', 'white')
    //-   }
    //- })
    //- })
    

    $(".owl-carousel").owlCarousel({
      items: 5,
      loop: false, // 循環播放
      margin: 10, // 外距 10px
      nav: true, // 顯示箭頭
      autoplay: false,

      responsive: {
        0: {
          items: 3 // 螢幕大小為 0~600 顯示 1 個項目
        },
        600: {
          items: 3 // 螢幕大小為 600~1000 顯示 3 個項目
        },
        1000: {
          items: 5 // 螢幕大小為 1000 以上 顯示 5 個項目
        }
      } 
      
    });
    
    //- function stopCarousel() {
    //-   var owl = $('.owl-carousel');
    //-   owl.trigger('destroy.owl.carousel');
    //-   owl.addClass('off');
    //- }

    // - function toRate (e) {
    // -   e.preventDefault();
    // -   $('').style.display = 'block'
    // - }

    // - $('.rating').on('click', toRate);

  
  //-   function toSubmitPage (e) {
  //-     e.preventDefault();
  //-     window.location.href='/review/submit'
  //-   }
    
  //-   $('.to_submit_page').on('click', toSubmitPage);

