extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/profile.css', type='text/css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', type="text/javascript")
  
block content 
  body 
    div.main_outer
      //- div.col-2
      div
        div(id="sidebar-container" class="sidebar-expanded d-none d-md-block")
          ul(class="list-group")
            a(href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center")
              div(class="d-flex w-100 justify-content-start align-items-center")
                span#collapse-icon.fa.fa-2x.mr-3
                span#collapse-text.menu-collapsed #{lang.account.collapse}
            a#sidebar_selected(href=`/profile?locale=${locale}` class="menu-collapsed d-flex w-100 justify-content-start align-items-center")
              i(class="fas fa-user-circle")
              span.tablinks#sidebar_selected_text #{lang.account.my_account}
            a(href=`/profile/review?locale=${locale}` class="menu-collapsed d-flex w-100 justify-content-start align-items-center")  
              i(class="fas fa-book-reader")
              span.tablinks #{lang.account.my_reviews}
            a(href=`/store/review?locale=${locale}` class="menu-collapsed d-flex w-100 justify-content-start align-items-center")
              i(class="fas fa-newspaper")
              span.tablinks #{lang.account.saved_reviews}
            a(href=`/store/movie?locale=${locale}` class="menu-collapsed d-flex w-100 justify-content-start align-items-center")
              i(class="fas fa-film")
              span.tablinks #{lang.account.saved_movies}
            a(class="menu-collapsed d-flex w-100 justify-content-start align-items-center")
              i(class="fas fa-sign-out-alt")
              button(type='button')#logout_btn #{lang.account.logout}

        //- div.col-10
      div.profile_outer
        div.profile_info
          div#picture_outline
            - if (data.user_picture == 'https://d2idt211kyg8ql.cloudfront.net/images/uploads/null')
              img#picture(src='https://d2idt211kyg8ql.cloudfront.net/images/uploads/clownfish.png' title='Profile Image' alt='')
            - else if (data.user_picture == null)
              img#picture(src='https://d2idt211kyg8ql.cloudfront.net/images/uploads/clownfish.png' title='Profile Image' alt='')
            - else
              img#picture(src=`${data.user_picture}` title='Profile Image' alt='')
          div#user_info
            div#name
              div#name_title #{lang.account.username}
              div#name_content #{data.username}
            div#email
              div#email_title #{lang.account.email}
              div#email_content #{data.user_email}
        form.image_form 
          div.update_image #{lang.account.update_image}
          input.choose_image(name='image' type='file')
          button#submit_image #{lang.upload}



  script(src='/public/assets/js/profile_sidebar.js')

  script.
    $(async () => {
      const locale = !{ locale_string };

      // logout
      //- $('#logout_btn').on('click', logout);
      $('#logout_btn').on('click', async (e) => {
        e.preventDefault();        
        try {
          await axios({
            method: 'get',
            url: '/api/1.0/user/logout',
          });

          if (locale == 'en-US'){
            swal.fire({
              icon: 'success', 
              text: 'You\'ve successfully logged out',
              showConfirmButton: false,
            })     
          } else if (locale == 'zh-TW') {
            swal.fire({
              icon: 'success', 
              text: '您已登出',
              showConfirmButton: false,
            })            
          } else if (locale == 'fr-FR') {
            swal.fire({
              icon: 'success', 
              text: 'Vous vous êtes déconnecté',
              showConfirmButton: false,
            })            
          }
          setTimeout(() => {
              window.location.href = `/home?locale=${locale}`;
          }, '1000');
          
        } catch (err) {
          console.log(err);
          swal.fire(err.response.data.message);
        }
      });
      
      // image upload
      async function submit(e) {
        e.preventDefault();
        
        const form = $('.image_form')[0];
        const formData = new FormData(form);

        try {        
          const updateImage = await axios({
            method: 'POST',
            url: '/api/1.0/user/image',
            data: formData,
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          });
          console.log(updateImage)

          if (locale == 'en-US'){
            swal.fire({
              icon: 'success', 
              text:'Update successfully', 
              showConfirmButton: false,
            })    
          } else if (locale == 'zh-TW') {
            swal.fire({
              icon: 'success', 
              text:'已更新', 
              showConfirmButton: false,
            })         
          } else if (locale == 'fr-FR') {
            swal.fire({
              icon: 'success', 
              text:'Actualisé', 
              showConfirmButton: false,
            })          
          }
          setTimeout(() => {
              window.location.href = `profile?locale=${locale}`;
          }, '1000');
        } catch(err) {
          console.log(err);
          swal.fire({
            text: err.response.data.message,
            confirmButtonColor: '#ec7aa0',          
          });
        }
      }
      $('#submit_image').on('click', submit);
    });


