extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/review.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/review_submit.css', type='text/css')

block content 
  body 


    div.main.d-flex.justify-content-center
      div.sidebar
        a(href=`/movie?id=${data.movie_id}&locale=${locale}`, alt='')
          img.movie_poster(src= `${data.poster}`, alt='Poster')
          p.movie_title #{data.title}   

      //- div.movie
      //-   p Submit Review for : 
      //-   h3 #{data.title}
      //-   img.poster(src=`${data.poster}`)

      div.review_submit.row
        form.review_form
          div#review_movie_id(name='movieId' data-id=`${data.movie_id}`) 
            h5.title #{lang.review.title}
              br
              input#review_title(type='text' name='title' placeholder='Title' maxlength='30' length='30')
              div#input_count
                span#input_current 0
                span#input_maximum / 30
            h5.content #{lang.review.content}
              br
              textarea#review_content(type='text' name='content' placeholder='Review' length='300')
              div#textarea_count
                span#textarea_current 0
                span#textarea_maximum / 300
        //- div.col-4.row
        //-   h5.image.row-10 
        //-     i18n(vanilla-i18n='image') Image
        //-     br
        //-     input.image_choose(name='image' type='file')        
    div.submit
      button#submit_review #{lang.submit}

  script(type='text/javascript').
    //- let locale = !{locale}

    // text count validate
    $('input').keyup(function() {
        
      var characterCount = $(this).val().length,
          current = $('#input_current'),
          maximum = $('#input_maximum'),
          theCount = $('#input_count');
        
      current.text(characterCount);

      if (characterCount >= 20) {
        maximum.css('color', '#f693b8');
        current.css('color', '#f693b8');
        theCount.css('font-weight','bold');
      }
    })

    $('textarea').keyup(function() {
        
      var characterCount = $(this).val().length,
          current = $('#textarea_current'),
          maximum = $('#textarea_maximum'),
          theCount = $('textarea_count');
        
      current.text(characterCount);

      if (characterCount >= 250) {
        maximum.css('color', '#f693b8');
        current.css('color', '#f693b8');
        theCount.css('font-weight','bold');
      }      
    })

    async function submitReview (e) {
      e.preventDefault();

      if ( $('#review_title').val() == "" || $('#review_content').val() == "" ) {

        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: "Please fill in title and content before submit",
            confirmButtonColor: '#ec7aa0',
          });    
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: "請填寫標題及內容",
            confirmButtonColor: '#ec7aa0',
          });         
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: "Veuillez remplir le titre et le contenu avant de soumettre",
            confirmButtonColor: '#ec7aa0',
          });       
        }
        return
      } 

      if ( $('#review_title').val().length > 30 ) {
        swal.fire({
          icon: 'warning', 
          text: "Please input less than 30 characters for title",
          confirmButtonColor: '#ec7aa0',
        }); 
        return
      }
      if ( $('#review_content').val().length > 300 ) {
        swal.fire({
          icon: 'warning', 
          text: "Please input less than 300 characters for content",
          confirmButtonColor: '#ec7aa0',
        }); 
        return
      }

      try{

        const form = $('.review_form')[0];
        const formData = new FormData(form);

        let movieId = $('#review_movie_id').data('id')
        formData.append('movieId', movieId);
        
        const reviewId = await axios({
          method: 'POST',
          url: '/api/1.0/user/review',
          data: formData,
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });

        if (locale == 'en-US'){
          swal.fire({
            icon: 'success', 
            text: 'Submitted ',
            showConfirmButton: false,
          })      
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'success', 
            text: '已送出 ',
            showConfirmButton: false,
          })          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'success', 
            text: 'Soumis ',
            showConfirmButton: false,
          })           
        }
        setTimeout(() => {
          window.location.href = `/profile/review?locale=${locale}`;
        }, '1000');
      }
      catch(err){
          console.log(err);
      }    
    };
    
    $('#submit_review').on('click', submitReview);

    