extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/review.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/save_button.css', type='text/css')

block content 
  div.main
    div.main_outer
      div.outer_review
          - for (let i = 0; i < data.length ; i++)
            div.review_account(class='card text-white bg-dark mb-300' style="max-width: 650px; min-width: 650px")
              div.item_movie.d-flex.flex-row(class='card-header')
                div.user
                  - if (data[i].profile_image =='https://d2idt211kyg8ql.cloudfront.net/images/uploads/null')
                    div#picture_outline
                      img.profile_img(src= 'https://d2idt211kyg8ql.cloudfront.net/images/uploads/clownfish.png', alt='Profile Image')
                    div.name_date   
                      - if (data[i].username.length > 7)
                        p.username_small #{data[i].username}                          
                      - else               
                        p.username #{data[i].username}  
                  - else if (data[i].profile_image == null)
                    div#picture_outline
                      img.profile_img(src= 'https://d2idt211kyg8ql.cloudfront.net/images/uploads/clownfish.png', alt='Profile Image')
                    div.name_date     
                      - if (data[i].username.length > 7)
                        p.username_small #{data[i].username}                          
                      - else               
                        p.username #{data[i].username}  
                  - else
                    div#picture_outline
                      img.profile_img(src= `${data[i].profile_image}`, alt='Profile Image')
                    div.name_date
                      - if (data[i].username.length > 7)
                        p.username_small #{data[i].username}                          
                      - else               
                        p.username #{data[i].username}
                div.ms15
                  h4.review_title #{data[i].review_title}                    
                  p.movie_title #{data[i].title}    

                div.save_review          
                  button.delete_saved_review(class="fas fa-bookmark" type='submit' value=`${data[i].review_id}`) 

              div.d-flex.flex-row(class='card-body')
                a(href=`/movie?id=${data[i].movie_id}&locale=${locale}`)
                  img.movie_poster_account(src=`${data[i].poster}`, alt='Poster') 
                p.review_text(class="card-text") #{data[i].content}
                    
              div.bottom
                p.review_created_dt(class='card-footer') #{data[i].created_dt}  


            //-   a(href=`/movie?id=${data[i].movie_id}&locale=${locale}`)
            //-     img.movie_poster(src=`${data[i].poster}`, alt='Poster')
            //-     p.movie_title #{data[i].title}                  
            //- div.review_saved.col-7
              div.review_content_outer    
                div.user.flex-row  
                  img.profile_img(src= `${data[i].profile_image}`, alt='Profile Image')
                  div.name_date.flex-column
                    p.username #{data[i].username}
                    p.review_created_dt #{data[i].created_dt}
                  div.save_review
                    button.save_review_button(type='submit' value=`${data[i].review_id}`) 
                      i18n(vanilla-i18n='save') Save
                div.ms-15
                  a(href=`/review/info?id=${data[i].review_id}&locale=${locale}`)
                    //- p.review_num Review# #{data[i].review_id}
                    h3.review_title #{data[i].review_title}
                    img.review_img(src=`${data[i].image}`, alt='')
                  p.review_text #{data[i].content}
                  //- p.review_updated_dt Updated at #{data[i].updated_dt}

  script(type='text/javascript').
    //- const locale = !{ locale };
    const review_id = $('.review_id').data('id');

    $('.save_review_button').on('click', async (e) => {
      e.preventDefault(); 
      let review_id = e.target.value;

      try {
        const data = JSON.stringify({
          review_id,
        });

        const result = await axios({
          method: 'POST',
          url: '/api/1.0/user/store/review',
          data,
          headers: {
            'Content-Type': 'application/json',
          },
        });
        alert('review saved successfully')
        window.location.href = `/store/review?locale=${locale}` ;

      } catch {
        alert('review saved or not existed');
        console.log('err: ', err);
      }

    });
  