extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/review.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/review_submit.css', type='text/css')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js', type="text/javascript")
  script(src='https://unpkg.com/axios/dist/axios.min.js')

block content 
  body 

    div.submit
      button#submit_review Submit  
    div.main.row
      div.sidebar.col-2
        a(href=`/movie?id=${data.movie_id}&locale=${locale}`, alt='')
          img.movie_poster(src= `${data.poster}`)
          p.movie_title #{data.title}   

      //- div.movie
      //-   p Submit Review for : 
      //-   h3 #{data.title}
      //-   img.poster(src=`${data.poster}`)

      div.review_submit.col-9.row
        form.review_form.col-6
          div#review_movie_id(name='movieId' data-id=`${data.movie_id}`) 
            h5.title Title
              br
              input#review_title(type='text' name='title' placeholder='Title' maxlength='255')
            h5.content Content
              br
              textarea#review_content(type='text' name='content' placeholder='Review')
        div.col-4.row
          h5.image.row-10 Image (optional)
            br
            input.image_choose(name='image' type='file')        


  script(type='text/javascript').
    //- let locale = !{locale}
    
    async function submitReview (e) {
      e.preventDefault();

      if ( $('#review_title').val() == "" || $('#review_content').val() == "" ) {
        alert("please fill in title and content before submit");
        return
      } 
      try{

        const form = $('.review_form')[0];
        const formData = new FormData(form);

        let movieId = $('#review_movie_id').data('id')
        formData.append('movieId', movieId);
        
        const reviewId = await axios({
          method: 'POST',
          url: '/api/1.0/user/review',
          data: formData,
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });

      window.location.href = `info?id=${reviewId.data.review_id}&locale=${locale}`;
      }
      catch(err){
          console.log(err);
      }    
    };
    
    $('#submit_review').on('click', submitReview);