extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/review.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/review_movie.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/save_button.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/spoiler.css', type='text/css')

  link(href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet")
  script(src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js")

block content 

  div.outer_review_movie
    - if (!data.info[0] || data.info[0].length)
      div.sidebar_nosticky
        a(href=`/movie?id=${data.movie[0].movie_id}&locale=${locale}`, alt='')
          img.movie_poster(src= `${data.movie[0].poster}`, alt='Poster')
          p.movie_title  #{data.movie[0].title}   
      div.no_review
        h1.no_review_text #{lang.review.no_review}
        button.to_submit_page(type='button') #{lang.review.submit_reivew}

    - else 
      div.sidebar
        div.d-flex.flex-column 
          a(href=`/movie?id=${data.movie[0].movie_id}&locale=${locale}`, alt='')
            img.movie_poster(src= `${data.movie[0].poster}`, alt='Poster')
            p.movie_title  #{data.movie[0].title}   
          div.submite_review  
            button.to_submit_page(type='button') #{lang.review.submit_reivew}
      div.d-flex.flex-column 
        div.spoiler.d-flex.flex-row
          p.spoiler_text #{lang.review.spoiler}
          input#spoiler_alert(type='checkbox' checked data-toggle='toggle' data-size="sm" data-style="ios" ) 
        div.outer_review_account
          - for (let i = 0; i < data.info.length ; i++)
            div.review_account(class='card text-white bg-dark mb-3' style="max-width: 600px;")
              div.item_movie(class='card-header')
                div.d-flex
                  div.user
                    - if (data.info[i].profile_image =='https://d2idt211kyg8ql.cloudfront.net/images/uploads/null')
                      div#picture_outline
                        img.profile_img(src= 'https://d2idt211kyg8ql.cloudfront.net/images/uploads/clownfish.png', alt='Profile Image')
                      div.name_date                
                        p.username #{data.info[i].username}  
                    - else if (data.info[i].profile_image == null)
                      div#picture_outline
                        img.profile_img(src= 'https://d2idt211kyg8ql.cloudfront.net/images/uploads/clownfish.png', alt='Profile Image')
                      div.name_date                
                        p.username #{data.info[i].username}  
                    - else
                      div#picture_outline
                        img.profile_img(src= `${data.info[i].profile_image}`, alt='Profile Image')
                      div.name_date                
                        p.username #{data.info[i].username}                    
                div
                  h4.review_title_spoiler(class="card-title") #{lang.review.spoiler}
                  h3.review_title_movie(class="card-title") #{data.info[i].review_title}
                div.save_review 
                - if (data.info[i].user_saved_review)
                  button.save_review_button(type='submit' class="fas fa-bookmark" value=`${data.info[i].review_id}`) 
                - else 
                  button.save_review_button(type='submit' class="far fa-bookmark" value=`${data.info[i].review_id}`) 
            
              div(class='card-body')
                //- img.review_img(src= `${data.info[i].image}`, alt='')
                p.review_text_movie(class="card-text") #{data.info[i].content}

              div.bottom  
                p.review_created_dt(class='card-footer') #{data.info[i].created_dt}  
                  //- p.review_updated_dt #{data.info[i].updated_dt}
              


  script(type='text/javascript').

    let movie_id = !{movie_id}

    $('.to_submit_page').on('click', async (e) => {
      e.preventDefault(); 
      
      try{
        await axios({
          method: 'GET',
          url: '/api/1.0/user/review/submit',
          headers: {
            'Content-Type': 'application/json',
          },
        });

        window.location.href = `/review/submit?id=${movie_id}&locale=${locale}`

      } catch (err) {
        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: 'Please sign in first',
            confirmButtonColor: '#ec7aa0',          
          });         
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: '請先登入',
            confirmButtonColor: '#ec7aa0',          
          });          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: 'Veuillez vous connecter',
            confirmButtonColor: '#ec7aa0',          
          });          
        }
        setTimeout(() => {
          window.location.href = `/login?locale=${locale}`
        }, '1000');
        console.log('err: ', err);
      }
    });


    const review_id = $('.review_id').data('id');

    $('.save_review_button').on('click', async (e) => {
      e.preventDefault(); 

      let reviewId = e.target.value;
      console.log(reviewId)
      try {
        const data = JSON.stringify({
          reviewId,
        });

        const result = await axios({
          method: 'POST',
          url: '/api/1.0/user/store/review',
          data,
          headers: {
            'Content-Type': 'application/json',
          },
        });

        let resultUser = result.data.data 
        console.log(resultUser)

        if (resultUser == 'deleted') {
          $(e.target).removeClass('fas').addClass('far')

          if (locale == 'en-US'){
            swal.fire({
              icon: 'success', 
              text: 'Review Removed',
              showConfirmButton: false,
              timer: 800,
            });       
          } else if (locale == 'zh-TW') {
            swal.fire({
              icon: 'success', 
              text: '已移除',
              showConfirmButton: false,
              timer: 800,
            });        
          } else if (locale == 'fr-FR') {
            swal.fire({
              icon: 'success', 
              text: 'Supprimé',
              showConfirmButton: false,
              timer: 800,
            });   
          } 
        } else if (resultUser == 'saved'){
          $(e.target).removeClass('far').addClass('fas')

          if (locale == 'en-US'){
              swal.fire({
                icon: 'success', 
                text: 'Review Saved',
                showConfirmButton: false,
                timer: 800,
              });
            } else if (locale == 'zh-TW') {
              swal.fire({
                icon: 'success', 
                text: '已儲存',
                showConfirmButton: false,
                timer: 800,
              });     
            } else if (locale == 'fr-FR') {
              swal.fire({
                icon: 'success', 
                text: 'Enregistrée',
                showConfirmButton: false,
                timer: 800,
              });     
            }  
        }
      } catch(err) {
        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: 'Please sign in first',
            confirmButtonColor: '#ec7aa0',          
          });         
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: '請先登入',
            confirmButtonColor: '#ec7aa0',          
          });          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: 'Veuillez vous connecter',
            confirmButtonColor: '#ec7aa0',          
          });          
        }
        setTimeout(() => {
          window.location.href = `/login?locale=${locale}`
        }, '1000');
        console.log('err: ', err);
      }
    });
  
    $('#spoiler_alert').change(function(e) {
      e.preventDefault();   
      console.log('qswqweqwa')
      $('.review_title_spoiler').slideToggle("fast");   
      $('.review_title_movie').slideToggle("fast");
      //- $('.review_img').slideToggle("slow");
      $('.review_text_movie').slideToggle("fast");
    });
    

