extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/review.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/review_movie.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/save_button.css', type='text/css')
  link(rel='stylesheet', href='/public/assets/css/spoiler.css', type='text/css')

block content 

  div.outer_review_movie
    - if (!data.info[0] || data.info[0].length)
      div.sidebar_nosticky
        a(href=`/movie?id=${data.movie[0].movie_id}&locale=${locale}`, alt='')
          img.movie_poster(src= `${data.movie[0].poster}`, alt='Poster')
          p.movie_title  #{data.movie[0].title}   
      div.no_review
        h1.no_review_text #{lang.review.no_review}
        button.to_submit_page(type='button') #{lang.review.submit_reivew}

    - else 
      div.sidebar
        div.d-flex.flex-column 
          a(href=`/movie?id=${data.movie[0].movie_id}&locale=${locale}`, alt='')
            img.movie_poster(src= `${data.movie[0].poster}`, alt='Poster')
            p.movie_title  #{data.movie[0].title}   
          div.submite_review  
            button.to_submit_page(type='button') #{lang.review.submit_reivew}
      div.outer_review_account
        button.spoiler_alert(type='button') #{lang.review.spoiler}
        - for (let i = 0; i < data.info.length ; i++)
          div.review_account 
            div.item_movie     
              div.d-flex
                div.user
                  -if (data.info[i].profile_image =='https://d2idt211kyg8ql.cloudfront.net/images/uploads/null')
                    div
                  -else
                    div#picture_outline
                      img.profile_img(src= `${data.info[i].profile_image}`, alt='Profile Image')
                    div.name_date                
                      p.username #{data.info[i].username}                    
              div
                //- a(href=`/review/info?id=${data.info[i].review_id}&locale=${locale}`)
                h3.review_title #{data.info[i].review_title}
              div.save_review #{data.info[i].user_saved_review}
              - if (data.info[i].user_saved_review)
                button.save_review_button(type='submit' class="fas fa-bookmark" value=`${data.info[i].review_id}`) 
              - else 
                button.save_review_button(type='submit' class="far fa-bookmark" value=`${data.info[i].review_id}`) 
                  //- button.save_review_button(type='submit' value=`${data.info[i].review_id}`) 
          
            div.ms-80
              //- img.review_img(src= `${data.info[i].image}`, alt='')
              p.review_text #{data.info[i].content}

            div.bottom  
              p.review_created_dt #{data.info[i].created_dt}  
                //- p.review_updated_dt #{data.info[i].updated_dt}
            
            //- h3 review# #{data.info[i].review_id}
            //- a(href=`/movie?id=${data[i].movie_id}&locale=${locale}`, alt='')
            //-   img.movie_poster(src= `${data[i].poster}`)
            //-   p #{data[i].title}


  script(type='text/javascript').

    let movie_id = !{movie_id}
    //- let locale = !{locale}

    //- function submitReview (e) {
    //-   e.preventDefault();
    //-   window.location.href = `/review/submit?id=${movie_id}&locale=${locale}`
    //- }
    //- $('.to_submit_page').on('click', submitReview);

    $('.to_submit_page').on('click', async (e) => {
      e.preventDefault(); 
      
      try{
        await axios({
          method: 'GET',
          url: '/api/1.0/user/review/submit',
          headers: {
            'Content-Type': 'application/json',
          },
        });

        window.location.href = `/review/submit?id=${movie_id}&locale=${locale}`

      } catch (err) {
        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: 'Please sign in first',
            confirmButtonColor: '#ec7aa0',          
          });         
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: '請先登入',
            confirmButtonColor: '#ec7aa0',          
          });          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: 'Veuillez vous connecter',
            confirmButtonColor: '#ec7aa0',          
          });          
        }
        setTimeout(() => {
          window.location.href = `/login?locale=${locale}`
        }, '1000');
        console.log('err: ', err);
      }
    });


    const review_id = $('.review_id').data('id');

    $('.save_review_button').on('click', async (e) => {
      e.preventDefault(); 

      let review_id = e.target.value;
      console.log(review_id)
      try {
        const data = JSON.stringify({
          review_id,
        });

        const result = await axios({
          method: 'POST',
          url: '/api/1.0/user/store/review',
          data,
          headers: {
            'Content-Type': 'application/json',
          },
        });

        let resultUser = result.data.data 
        console.log(resultUser)

        if (resultUser == 'deleted') {
          $(e.target).removeClass('fas').addClass('far')

          if (locale == 'en-US'){
            swal.fire({
              icon: 'success', 
              text: 'Review Removed',
              showConfirmButton: false,
              timer: 800,
            });       
          } else if (locale == 'zh-TW') {
            swal.fire({
              icon: 'success', 
              text: '已移除',
              showConfirmButton: false,
              timer: 800,
            });        
          } else if (locale == 'fr-FR') {
            swal.fire({
              icon: 'success', 
              text: 'Supprimé',
              showConfirmButton: false,
              timer: 800,
            });   
          } 
        } else if (resultUser == 'saved'){
          $(e.target).removeClass('far').addClass('fas')

          if (locale == 'en-US'){
              swal.fire({
                icon: 'success', 
                text: 'Review Saved',
                showConfirmButton: false,
                timer: 800,
              });
            } else if (locale == 'zh-TW') {
              swal.fire({
                icon: 'success', 
                text: '已儲存',
                showConfirmButton: false,
                timer: 800,
              });     
            } else if (locale == 'fr-FR') {
              swal.fire({
                icon: 'success', 
                text: 'Enregistrée',
                showConfirmButton: false,
                timer: 800,
              });     
            }  
        }
      } catch(err) {
        if (locale == 'en-US'){
          swal.fire({
            icon: 'warning', 
            text: 'Please sign in first',
            confirmButtonColor: '#ec7aa0',          
          });         
        } else if (locale == 'zh-TW') {
          swal.fire({
            icon: 'warning', 
            text: '請先登入',
            confirmButtonColor: '#ec7aa0',          
          });          
        } else if (locale == 'fr-FR') {
          swal.fire({
            icon: 'warning', 
            text: 'Veuillez vous connecter',
            confirmButtonColor: '#ec7aa0',          
          });          
        }
        setTimeout(() => {
          window.location.href = `/login?locale=${locale}`
        }, '1000');
        console.log('err: ', err);
      }
    });
  
    $('.spoiler_alert').click(function(e) {
      e.preventDefault();      
      $('.review_title').slideToggle("slow");
      //- $('.review_img').slideToggle("slow");
      $('.review_text').slideToggle("slow");
      // Alternative animation for example
      // slideToggle("fast");
    });
    
    //- function showReview (e) {
    //-   e.preventDefault();      
    //-   ${.review_title}.show();
    //-   ${.review_img}.show();
    //-   ${.review_text}.show();
    //- }
    //- $('.spoiler_alert').on('click', showReview);

    //- $('.spoiler_alert').click(function(e){
    //-   e.preventDefault();      
    //-   ${.review_title}.show();
    //-   ${.review_img}.show();
    //-   ${.review_text}.show();
    //- });

