extends layout.pug 

block head
  link(rel='stylesheet', href='/public/assets/css/movie_list.css')

block content 
  body
    div.main_outer_search(class='d-flex justify-content-center')
      - if (data === 'not_found')
        h1.no_review #{lang.cannot_find}
      - else 
        div.movie_search.justify-content-flex-start           
          - for (let i =  0 ; i < data.length; i++)
            div.movie_item_search
              a.list_link(href=`/movie?id=${data[i].movie_id}&locale=${locale}`)
                img.list_img(src=`${data[i].poster}`)
                p.list_title #{data[i].title}